openapi: 3.0.3
info:
  title: Rails API
  version: 0.1.0
  description: Rails public API for founders
servers:
  - url: https://api.rails.com
security:
  - apiKeyAuth: []
tags:
  - name: users
    description: Users
  - name: accounts
    description: Accounts
  - name: transactions
    description: Transactions
paths:
  /api/v1/users:
    post:
      tags:
        - users
      summary: Create user
      operationId: usersCreate
      parameters:
        - $ref: '#/components/parameters/XEnvironment'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
      responses:
        '200':
          description: User created
          headers:
            x-correlation-id:
              $ref: '#/components/headers/XCorrelationId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateUserResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '403':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  /api/v1/accounts:
    post:
      tags:
        - accounts
      summary: Create account
      operationId: accountsCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccountRequest'
      responses:
        '201':
          description: Account created
          headers:
            x-correlation-id:
              $ref: '#/components/headers/XCorrelationId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
    get:
      tags:
        - accounts
      summary: List accounts
      operationId: accountsList
      parameters:
        - name: user_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Accounts
          headers:
            x-correlation-id:
              $ref: '#/components/headers/XCorrelationId'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  /api/v1/accounts/{id}:
    get:
      tags:
        - accounts
      summary: Retrieve account
      operationId: accountsRetrieve
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Account
          headers:
            x-correlation-id:
              $ref: '#/components/headers/XCorrelationId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
    patch:
      tags:
        - accounts
      summary: Update account status
      operationId: accountsUpdateStatus
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAccountRequest'
      responses:
        '200':
          description: Account
          headers:
            x-correlation-id:
              $ref: '#/components/headers/XCorrelationId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
    delete:
      tags:
        - accounts
      summary: Close account
      operationId: accountsClose
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Account
          headers:
            x-correlation-id:
              $ref: '#/components/headers/XCorrelationId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  /api/v1/accounts/{id}/deposit:
    post:
      tags:
        - accounts
      summary: Deposit into account
      operationId: accountsDeposit
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepositRequest'
      responses:
        '200':
          description: Deposit result
          headers:
            x-correlation-id:
              $ref: '#/components/headers/XCorrelationId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountTransactionResult'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  /api/v1/accounts/{id}/withdraw:
    post:
      tags:
        - accounts
      summary: Withdraw from account
      operationId: accountsWithdraw
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WithdrawRequest'
      responses:
        '200':
          description: Withdrawal result
          headers:
            x-correlation-id:
              $ref: '#/components/headers/XCorrelationId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountTransactionResult'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  /api/v1/accounts/{id}/transfer:
    post:
      tags:
        - accounts
      summary: Transfer between accounts
      operationId: accountsTransfer
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferRequest'
      responses:
        '200':
          description: Transfer result
          headers:
            x-correlation-id:
              $ref: '#/components/headers/XCorrelationId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferResult'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  /api/v1/accounts/{account_id}/transactions:
    get:
      tags:
        - transactions
      summary: List account transactions
      operationId: transactionsListByAccount
      parameters:
        - name: account_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Transactions
          headers:
            x-correlation-id:
              $ref: '#/components/headers/XCorrelationId'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transaction'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  /api/v1/transactions/{id}:
    get:
      tags:
        - transactions
      summary: Retrieve transaction
      operationId: transactionsRetrieve
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Transaction
          headers:
            x-correlation-id:
              $ref: '#/components/headers/XCorrelationId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
  parameters:
    XEnvironment:
      name: X-Environment
      in: header
      required: true
      schema:
        type: string
        enum:
          - sandbox
          - production
  headers:
    XCorrelationId:
      description: Correlation ID generated by Rails.
      schema:
        type: string
  responses:
    ErrorResponse:
      description: Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        status:
          type: string
          example: error
        code:
          type: string
          example: VALIDATION_FAILED
        message:
          type: string
          example: Something went wrong

    CreateUserRequest:
      type: object
      required:
        - first_name
        - last_name
        - email
        - password
      properties:
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
          format: email
        password:
          type: string
          format: password

    CreateUserResponse:
      type: object
      required:
        - user_id
        - status
      properties:
        user_id:
          type: string
          format: uuid
        status:
          type: string

    AccountType:
      type: string
      enum:
        - checking
        - saving

    AccountStatus:
      type: string
      enum:
        - active
        - suspended
        - closed

    CreateAccountRequest:
      type: object
      required:
        - account_type
        - user_id
      properties:
        account_type:
          $ref: '#/components/schemas/AccountType'
        organization_id:
          type: string
          format: uuid
          nullable: true
        environment:
          type: string
          nullable: true
        user_id:
          type: string
          format: uuid
        currency:
          type: string
          default: USD

    UpdateAccountRequest:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/AccountStatus'

    Account:
      type: object
      required:
        - id
        - account_number
        - account_type
        - user_id
        - environment
        - balance
        - currency
        - status
      properties:
        id:
          type: string
          format: uuid
        account_number:
          type: string
        account_type:
          $ref: '#/components/schemas/AccountType'
        organization_id:
          type: string
          format: uuid
          nullable: true
        environment:
          type: string
        user_id:
          type: string
          format: uuid
        admin_user_id:
          type: string
          format: uuid
          nullable: true
        user_role:
          type: string
          nullable: true
        balance:
          type: string
        currency:
          type: string
        status:
          $ref: '#/components/schemas/AccountStatus'
        created_at:
          type: string
          format: date-time
          nullable: true
        updated_at:
          type: string
          format: date-time
          nullable: true

    TransactionType:
      type: string
      enum:
        - deposit
        - withdrawal
        - transfer
        - recurring_payment
        - savings_withdraw

    TransactionStatus:
      type: string
      enum:
        - pending
        - completed
        - failed
        - cancelled

    Transaction:
      type: object
      required:
        - id
        - account_id
        - transaction_type
        - amount
        - currency
        - balance_after
        - status
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
        account_id:
          type: string
          format: uuid
        transaction_type:
          $ref: '#/components/schemas/TransactionType'
        amount:
          type: string
        currency:
          type: string
        balance_after:
          type: string
        recipient_account_id:
          type: string
          format: uuid
          nullable: true
        external_recipient_id:
          type: string
          nullable: true
        reference_id:
          type: string
          format: uuid
          nullable: true
        description:
          type: string
          nullable: true
        status:
          $ref: '#/components/schemas/TransactionStatus'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    DepositRequest:
      type: object
      required:
        - amount
      properties:
        amount:
          type: string
        description:
          type: string
          nullable: true

    WithdrawRequest:
      type: object
      required:
        - amount
      properties:
        amount:
          type: string
        description:
          type: string
          nullable: true

    TransferRequest:
      type: object
      required:
        - to_account_id
        - amount
      properties:
        to_account_id:
          type: string
          format: uuid
        amount:
          type: string
        description:
          type: string
          nullable: true

    AccountTransactionResult:
      type: object
      required:
        - account
        - transaction
      properties:
        account:
          $ref: '#/components/schemas/Account'
        transaction:
          $ref: '#/components/schemas/Transaction'

    TransferResult:
      type: object
      required:
        - from_account
        - to_account
        - transaction
      properties:
        from_account:
          $ref: '#/components/schemas/Account'
        to_account:
          $ref: '#/components/schemas/Account'
        transaction:
          $ref: '#/components/schemas/Transaction'
